<h2>Zmiana hasła</h2>
<form [formGroup]="updatePassForm" (ngSubmit)="submitForm($event)" autocomplete="on">

    <!-- formControlName attribute is a property of form in FormBuilder Group -->
    <input formControlName="password" type="password" maxlength="255" type="password" name="password" placeholder="hasło" required>
    <input formControlName="repeatPassword" type="password" maxlength="255" type="password" name="repeatPassword" placeholder="powtórz hasło" required>

    <button [disabled]="!updatePassForm.valid" type="submit">Zmień hasło / Wyślij</button>
</form>